* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Young Serif", serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

/* header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 350px;
  background-image: url(img/8.jpg);
  background-size: cover;
  background-position: top;
  padding: 50px;
}

.hero h2,
.hero p {
  display: none;
}

.features {
  background-color: black;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(img/5.jpg);
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(img/6.jpg);
  background-size: cover;
}

.features .price {
  font-size: 3em;
  font-weight: 200;
}

/* navigation */

.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

.menu a {
  display: block;
  background-color: #333;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-size: 0.9em;
}


/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.menu-toggle input {
  position: absolute;
  width: 150%;
  height: 150%;
  left: -7px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 9999;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu  animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}

/* responsive brekpoint */
.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg);
  background-color: #ddd;
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(.1);
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(-3.5px, 0px);
  background-color: #ddd;
}



/* services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: #e6e6e6;
  padding: 10px;
  /* margin: 0px 20px; */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
  margin: 10px;
}

.service p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* galley */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 100px;
}

.gallery h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 10px;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}

/* respnsif breakpoin */

@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero h2,
  .hero p {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    margin: 15px;
  }

  .menu {
    order: -1;
    justify-items: end;
  }

  .menu-toggle {
    display: flex;
  }

  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #333;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }
}

.menu {
  text-transform: capitalize;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}