/* pembahasan 1 */

.bahas {
    width: 800px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    color: red;
    text-align: center;
}

.bahas h3 {
    color: red;
    font-size: large;
}

.bahas ul li {
    display: inline-block;
    margin-bottom: 20px;

}

.bahas ul li a {
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

.bahas ul li a:hover {
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
}
.container {
    width: 600px;
    border: solid 1px black;
    margin: 0px auto 20px;
    padding: 5px;
}

.satu, .dua, .tiga {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

.satu {
    background-color: salmon;
   margin: 5px;
}
.dua {
    background-color: green;
   margin: 5px;
   float: right;
}
.tiga {
    background-color: blue;
   margin: 5px;
}
       /* pembahasan 2 */
.contoh {
    width: 600px;
    border: solid 1px black;
    margin: auto;
    padding: 5px;
}
img {
    float: left;
    margin: 10px;
}

/* pembahsasan 3 */
.container2 {
    width: 600px;
    height: 550px;
    border: solid 1px black;
    margin: 50px auto 20px;
    padding: 5px;
}
.kotak {
    width: 80px;
    height: 80px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    margin: 5px;
    float: left;
}
 /* bembahasan 4 */
.container3 {
    width: 1000px;
    border: 1px black solid;
    margin:0px auto 30px;
    padding: 5px;
}

.kiri {
    width: 300px;
    height: 600px;
    background-color: salmon;
    float: left;
}
.tengah {
    width: 400px;
    height: 600px;
    background-color: cyan;
    float: left;
}
.kanan {
    width: 300px;
    height: 600px;
    background-color: blueviolet;
    float: left;
}
.clear {
    clear: left;
}

       /* pembahasan 5 */
.container5 {
    width: 600px;
    border: solid 1px black;
    margin: 0px auto 20px;
    padding: 5px;
    overflow: auto;
}
.container5 img{
    float: left;
    margin: 10px;
}

       /* pembahasan 6 */
.container6 {
    width: 600px;
    border: solid 1px black;
    margin: auto;
    padding: 5px;

}
.container6 img{
    float: left;
    margin: 10px;
}

.clear {
    clear: left;
}

/* pembahsasan 7 */
.container7 {
    width: 600px;
    border: solid 1px black;
    margin: 50px auto 20px;
    padding: 5px;
}
.container7 .kotak {
    width: 80px;
    height: 80px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    margin: 5px;
    float: left;
}


