/* belajar mengenail teks styling */


/*
Atribut pada tag text:
1.color
    memberikan warna pada tulisan
2.text-align
    mengatur format paragraf/teks
3.text-indent
    memberikan indensitas pada paragraf/teks
4.text-decoration
    mengatur dekorasi pada text
5.text-transfrom
    mengubah jenis huruf menjadi huruf besar, kecil, dan kapital
6.letter-spacing
    mengatur spasi antar huruf
7.word-spacing 
    mengatur jarak spasi antar kata
8.line-height
    mengatur jarak antar baris*/




/* 
properti pada text-align
    1.lift
    2.right
    3.center
    4.justifty
properti dari test_indent(jarak di awal paragraf)
    1.px
    2.%
properti dari text-decoration
    1.none
    2.underline(garis bawah)
    3.overline(garis atas)
    4.line-through(garis tengah)
properti dari text-transfrom
    1.none
    2.lowercase(huruh kecil semua)
    3.uppercase(huruf besar semua)
    4.capitalize(awalan huruf besar)
properti dari letter-spacing(jarak spasi antar huruf)
    1.normal
    2.px
properti dari word-spacing(jarak spasi antar kata)
 */
h1 {
    color: goldenrod;
    font-size: 150px;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 0px;
}

p  {
    color: rgba(6, 150, 119, 0.959);
    text-align: left;
    text-indent: 100px;
    text-transform: capitalize;

}
.contoh2 {
    color: brown;
    text-decoration: none;
}


.x {
    color: blueviolet;
}