p {
    font-size: 20px;
    text-align: center;
}
div {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    transition: 1s;
    position: relative;
    display: inline-block;
}

div p {
  position: absolute;
  top: 35%;
  left: 40%;
}


.satu:hover {
    transform: scale(1.1);
}
.dua:hover {
    transform: rotate(90deg) rotateX(180deg) rotateY(180deg);
}
.tiga:hover {
    transform: skew(15deg);
}
.empat:hover {
    transform: translate( 20px, 100px);
}
