body {
    height: 2000px;
}

h3 {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    
}      

p {
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    line-height: 0px;
}

.header {
    margin: 20px auto;
    border: 2px solid rgb(23, 101, 101);
    padding: 20px;
}


/* pembahasan(default) */
.pembahasan {
    width: 225px;
    padding: 15px;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}
.pembahasan .satu,.dua,.tiga {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    font-size: 50px;
    color: white;
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
}
.pembahasan .satu {
    background-color: green;
}
.pembahasan .dua {
    background-color: red;
}
.pembahasan .tiga {
    background-color: blue;
}


/* pembahasan 1 */
.pembahasan1 {
    width: 225px;
    padding: 15px;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}
.pembahasan1 .satu,.dua,.tiga {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    font-size: 50px;
    color: white;
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
}
.pembahasan1 .satu {
    background-color: green;
}
.pembahasan1 .dua {
    background-color: red;
    position: relative;
    top: 20px;
    left: 20px;
}
.pembahasan1 .tiga {
    background-color: blue;
}
/* pembahasan 2 */
.pembahasan2 {
    width: 225px;
    padding: 15px;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
    position: relative;
}

.pembahasan2 .satu,.dua,.tiga {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    font-size: 50px;
    color: white;
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
}

.pembahasan2 .satu {
    background-color: green;
}
.pembahasan2 .dua {
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pembahasan2 .tiga {
    background-color: blue;
}

/* pembahasan 3 */
.pembahasan3 {
    width: 225px;
    padding: 15px;
    border: 2px solid black;
    float: left;
}
.pembahasan3 .satu,.dua,.tiga {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    font-size: 50px;
    color: white;
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;

}

.pembahasan3 .satu {
    background-color: green;
}
.pembahasan3 .dua {
    background-color: red;
    position: fixed;
    top: 500px;
    right: 252px;
}
.pembahasan3 .tiga {
    background-color: blue;
}













































.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

