html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  line-height: 1.65;
  min-height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

/* laitan 1 */
.container-satu {
  width: calc(100vw - 50px);
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.container-satu .colom-utama {
  flex: 3;
  order: 2;
}

.container-satu .sidebar-satu {
  flex: 1;
  order: 1;
}

.container-satu .sidebar-dua {
  flex: 1;
  order: 3;
}

/* latihan 2 */
.container-dua {
  width: calc(100vw - 50px);
  margin: 50px auto;
}

.layanan {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
}

.layanan.satu {
  background-color: lightblue;
}

.layanan.dua {
  background-color: greenyellow;
}

.layanan.tiga {
  background-color: rgb(251, 90, 90);
}

/* latihan 3 */

.container-tiga {
  width: calc(100vw - 50px);
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  border-radius: 10px;
}

.thumbnail {
  width: 48%;
  margin: 1%;
  box-sizing: content-box;
}

.thumbnail img {
  width: 100%;
}


/* latihan 4 */

.container-empat {
  width: calc(100vh - 50px);
  margin: 50px auto;
  padding: 50px 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.card {
  border: 1px rgb(121, 121, 121) solid;
  box-sizing: border-box;
  background-color: #c2bfbf;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
  margin: 10px;
}

.card .header {
  height: 150px;
  background-color: rgb(112, 112, 112);
}

.card .content {
  padding: 20px;
  text-align: center;
}

.card.besar {
  transform: scale(1.12);
}

/* latihan 5 */
.container-lima {
  width: calc(100vw - 100px);
  height: calc(100vw - 100px);
  margin: 50px auto;
  border: solid black 0.1px;
  display: flex;
}

.kotak {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: white;
  margin: auto;
  display: flex;
}

.kotak span {
  margin: auto;
}

/* responsive */

@media(min-width: 600px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .thumbnail {
    width: 23%;
  }
}